.row
  .large-4.columns
    =form_for [:admin, @song] do |f|
      .row
        .large-12.columns
          =f.label :name
          =f.text_field :name
      .row
        .large-6.columns
          =f.label :author
          =select_tag :author, options_for_select(Admin::Author.author_list)
      .row
        .large-12.columns
          =f.label 'English lyric'
          =f.text_area :en_lyric
      .row
        .large-12.columns
          =f.label 'Spanish lyric'
          =f.text_area :es_lyric
      .row
        .large-12.columns
          =f.label :level
          =f.text_field :level
      .row
        .large-12.columns
          =f.label :ipa
          =f.text_field :ipa
      .row
        .large-12.columns
          =f.label 'youtube video url'
          =f.text_field :url
      .row
        =f.submit class: "button tiny"
