#home
  %img{src: "/assets/bg-temp.jpg"}

- if current_user
  .featured
    FEATURED SONGS
  %ul.small-block-grid-3
    %li
      %img{src: "/assets/thumbnail.jpg"}
    %li
      %img{src: "/assets/thumbnail.jpg"}
    %li
      %img{src: "/assets/thumbnail.jpg"}
- else
  .signin
    = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" 
