#ipa-modal.reveal-modal{"data-reveal" => ""}
  %h2 IPA
  %p.lead Your couch.  It is mine.
  %p
    = song.ipa
  %a.close-reveal-modal ×

#spanish-modal.reveal-modal{"data-reveal" => ""}
  %h2 Letra en Español
  %p.lead Your couch.  It is mine.
  %p
    = song.es_lyric
  %a.close-reveal-modal ×
