.slide.featured
  .container.clearfix
    #main.grid_12.omega
      %ul.bxslider
        %li.first
          = render partial: 'song', locals: { song: Song.first }
        %li
          %img{src: "assets/pic2.png"}
        %li
          %img{src: "assets/pic3.jpg"}

.container.clearfix
  %ul.small-block-grid-3.songs-thumb
    %li
      %img{src: "assets/pic1_t.jpg"}
    %li
      %img{src: "assets/pic1_t.jpg"}
    %li
      %img{src: "assets/pic1_t.jpg"}

