.lyric{
  height: 300px;
  overflow: hidden;
  p{
    text-align: center;
    line-height: 46px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    &.current{
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

#video {
  height: 300px;
  width: 400px;
  text-align:center;
  margin: 0 auto;
}
.blur {
  position: absolute;
  width: 562px;
  height: 418px;
  z-index: 9999;
  -webkit-filter: blur(10px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  opacity: 1;
  background: darkblue;
  margin-top: -10px;
}

.blank-input{
  height: 22px !important;
  width: 90px !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0 !important;
  float: initial;
}
.answers{
  td{
    &.user-ans{
      color: red;
    }
    &.check{
      color: green;
    }
  }
}
