.lyric{
  height: 300px;
  overflow: hidden;
  p{
    text-align: center;
    line-height: 46px;
    padding-bottom: 0;
    margin-bottom: 0;
    &.current{
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

#video {
  height: 300px;
  width: 400px;
}
