#home {
  margin: 40px 0;
}

.featured {
  text-align: center;
  margin: 20px 0;
}

.signin {
  text-align: center;
  a {
    background: white;
    padding: 10px;
    border-radius: 10.5px;
  }
}

#logo {
  img {
    max-width: 50% !important;
  }

  h1 {
    margin: 0;
    a {
      color: #f68f67;
    }
  }
}

#nav {
  margin: 15px 0 0 0;
.navigation {
  li a {
    color: #f68f67;
  }
}

}

#slide2, #slide3, #slide5, {
  color: #EFEFEF;

}

/* SLIDE 2*/

#slide2 {
  background: url('learn.jpeg') no-repeat;
  background-size: 100%;
  background-color: #EFEFEF;
  height: 750px;
  .learn {
    padding: 15px;
    text-align: center;
    opacity: .9;
    position: relative;
    top: 200px;
    left: 60px;
    .navigation {
      float: none;
      margin: 35px 122px;
      li {
        color: #04BFBF;
        font-size: 30px;
        border: 1px solid #04BFBF;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        padding: 0px 31px;
        &:hover {
          opacity: .5;
          background: #04BFBF;
          color: #EFEFEF;
        }
      }

    }
  }
}

/*SLIDE 3*/
#slide3 {
  background-color: #028A9E;
  .right-text {
    text-align: right;
  }

  h1, h2 {
    color: #EFEFEF;
  }

}

/*SLIDE 4*/

#slide4 {
  background-color: #EFEFEF;
  p, h1 {
    color: #f68f67;
  }

  p {
    text-align: right;
  }

}

.btn {
  margin: 20px 0;
  padding: 15px 30px;
  color: #EFEFEF !important;
  font-family: 'Open Sans', sans-serif;
  background-color: #f68f67;
  border-radius: 25px;
  -webkit-border-radius: 25px;
}
