.reveal-modal-bg {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);

  background-color: white;
  background-image: none;
  opacity: 0.9;
}
