// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video {
  height: 400px;
  width: 500px;
}

.slide.featured {
  padding: 70px 0;
  margin-bottom: 0px;
  background: #023550;
  background-size: 100%;
  .grid_12 {
    min-height: 353px;
  }

  li.first {
    min-height: 353px;
    background: url('demon.png');
    text-align: right;
    #song-info {
      background: white;
      opacity: .7;
      text-align: right;
      margin-top: 70px;
      float: right;
      padding: 50px;
      .exercises {
        list-style: none;
      }
    }
  }
}

.songs-thumb {
  height: 200px;
  text-align: center;
}

.slide.list {
  background: #EFEFEF;
}

.slide.song-exercise {
  background: #EFEFEF;
}

