// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video {
  height: 400px;
  width: 500px;
}

.accordion {
  dd > a {
    background: white;
    color: #0b93bc;
  }

  .content.active {
    background: #efefef;
  }
}

h1 {
  color: white;
}


